
body{
  background-image:url("login.jpg");
  background-color: #cccccc;
  height: 1200px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
	font-size:70px;
	color:white;
	text-align:center;
	font-family:Courier New, Courier, monospace;
}
table{ margin-left:500px;
       
}
	td
{  
	font-size:30px;
	color:aero;
	font-family:Comic Sans MS, cursive, sans-serif;
}
.ab{
	font-size:40px;
	color:grey;
	font-family:Comic Sans MS, cursive, sans-serif;
}
button{
	width:200px;
	position:relative;
	height:40px;
	color:white;
	background-color:black;
	font-size:100%;
	font-family:Comic Sans MS, cursive, sans-serif;
	margin-left:700px;
	
}
button a{
	text-decoration:none;
	color:white;
}
.ad{
	border:3px solid black;
	height:80px;
	width:500px;
	color:orange;
	margin-left:500px;
	background-color:grey;
	margin-top:150px;
	font-size:30px;
	text-align:center;
	font-family:Comic Sans MS, cursive, sans-serif;
}
.error {color: #FF0000;}
	
	
input{
	height:30px;
	width:300px;
}


